@import "variable";

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background: none;
  color: #562e0a;
}

.nav-tabs{
  li{
    &:active{
      a, a:link, a:hover, a:visited{
        color: #562e0a;
        &:focus{
          color: #562e0a;
          background: none;
        }
      }
    }
  }
}

/*我的遊戲*/
.slider_fav {
  width:100%;
  display: block;
  height: 40px;
  max-width: 1000px;
  margin: 0 auto;
  background: none;
//nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {

  div {
      position: relative;
      width: 100%;
      overflow: hidden;
      .nav {
          margin: 10px 0 0 0;
          height: 100%;
          overflow: hidden;
          width: 100%;
          padding-bottom: 0px;
          text-align: center;
          border: 0;
          border-radius: 10px 10px 0px 0px;
          background: #707070;
            li{
              width: 12%;
              margin: 7px 0px 0 10px;
              float: left;
              //background: #5e821f;
              display: inline-block;
              a{
                height: 32px;
                border: 0;
                &#recentgame{
                  background: url(/images/bn_favourite_01.png) no-repeat;

                  &:hover{
                      background: url(/images/bn_favourite_01_on.png) no-repeat;
                      //background-size: 100% 100%; 
                  } 
                }
                &#fav_game{
                  background: url(/images/bn_favourite_02.png) no-repeat;
                  //background-size: 100% 100%;
                  &:hover{
                      background: url(/images/bn_favourite_02_on.png) no-repeat;
                      //background-size: 100% 100%; 
                  } 
                }
              }
            }
      }
  }
}

/*会员中心*/
.slider1 {
  width:100%;
  display: block;
  height: 35px;
  background: #961818;
  margin: 0 auto;

      div {
          position: relative;
          width: 100%;
          overflow: hidden;
          padding-bottom: 10px;
          .nav {
              height: 100%;
              overflow: hidden;
              width: 100%;
              max-width: 1000px;
              padding-bottom: 0px;
              margin: 0 auto;
              text-align: center;
                .on{
                  //background: #442a69;
                  a{
                    color: #f1d391;
                  }
                }
                .extra{
                  width: 20%;
                }
                .off{
                 //background: #442a69;
                  a{
                    color: #fff;
                  }
                }
                li{
                  width: 12%;
                  margin: 0 5px 0 0px;
                  //height: 100%;
                  float: left;
                  display: inline-block;
                  a{
                    font: bolder 18px/18px $fontA;
                    padding: 0px;
                    color: #f1d391;
                    line-height: 35px;
                  }
                  &:hover{
                    //background: #442a69;
                    a{
                      color: #f1d391;
                    }

                  }
                }


          }
      }
}


.promotion_top{
  width: 85%;
  float: right;
  .on{
    //border: 1px solid #767676;
    background: #767676;
    
  }

  li{
      width: auto;
      margin: 0 30px 10px 0;
      padding: 0 10px 0px 0;
      text-align: center;
      //height: 100%;
      float: left;
      //background: #333333;
      color: $nav_off;
      display: inline-block;
      text-overflow: ellipsis;
      width: 125px;
      overflow: hidden;
      height: 35px;
      a{
      color: #fff;
      font: bolder 12px/12px $fontA;
      padding: 0px;
      line-height: 35px;
      }
      &:hover{
          //border: 1px solid #866a2b;
          background: #767676;
      a{
          color: #f1d391;
      }

      }
  }
}

/*關於我們...開新分頁*/
.slider2 {
  background: #961818;
  width: 100%;
  display: block;
  height: 60px;
  //max-width: 1000px;
  margin: 0px auto;
  padding: 0px;
  div {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
    .nav {
      height: 100%;
      overflow: hidden;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      padding-bottom: 0px;
      text-align: center;
      .on{
          //background: #442a69;
          a{
            color: $nav_a;
          }
        }
        .off{
          //background: #6f8c3d;
          a{
            color: $nav_off;
          }
        }
        li{
          margin: 12px 0px 0 0px;
          width: auto;
          padding: 0 55px;
          float: left;
          color: $nav_off;
          display: inline-block;
          a{
            font: bolder 14px/14px $fontA;
            padding: 0px;
            color: $nav_off;
            line-height: 35px;
            font-size: 20px;
          }
          &:hover{
            //background: #442a69;
            a{
              color: $nav_a;
            }
          }
        }
      }
    }
}

/*服务中心...開新分頁*/
// .slider_bg{
//   position: absolute;
//   height: 58px;
//   top: 114px;
//   width: 100%;
//   left: 0px;
//   @include bg_7;
// }


.slider3 {
  background: #961818;
  width: 100%;
  display: block;
  height: 60px;
  margin: 0px auto;
  padding: 0px;
      div {
          position: relative;
          width: 100%;
          overflow: hidden;
          padding-bottom: 10px;
          .nav {
          height: 100%;
          overflow: hidden;
          width: 100%;
          max-width: 1000px;
          margin: 0 auto;
          padding-bottom: 0px;
          text-align: center;
                .on{
                  //background: #442a69;
                  a{
                    color: $nav_a;
                  }
                }
                .off{
                  //background: #6f8c3d;
                  a{
                    color: $nav_off;
                  }
                }
                li{
                  margin: 12px 0px 0 0px;
                  width: auto;
                  padding: 0 110px;
                  float: left;
                  color: #fff;
                  display: inline-block;
                  a{
                  font: bolder 14px/14px $fontA;
                  padding: 0px;
                  color: $nav_off;
                  line-height: 35px;
                  font-size: 20px;
                  }
                  &:hover{
                    //background: #442a69;
                    a{
                      color: $nav_a;
                    }
                  }
                }


          }
      }
}

/*Tab分頁 滑動選單*/
.slider {
  max-height: 347px;
  display: none;
    @media (max-width: 1100px) {
        position: relative;
        overflow: hidden;
        width: 100%;
        &:before {
            width: 0;
            height: 0;
            content: '';
            position: absolute;
            top: 22px;
            left: 3px;
            border-style: solid;
            border-width: 10px 10px 10px 0;
            border-color: transparent transparent transparent #333;
            display: none;
        }
        &:after {
            width: 0;
            height: 0;
            content: '';
            position: absolute;
            top: 15px;
            right: 3px;
            border-style: solid;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent #444;
            animation: AnRight 1s infinite;
            -moz-animation: AnRight 1s infinite;
            -webkit-animation: AnRight 1s infinite;
        }
        div {
            position: relative;
            width: 100%;
            overflow: hidden;
            padding-bottom: 10px;
            .nav {
                li > a {
                    font: bolder 28px/30px $fontA;
                    padding: 8px 40px;
                }
                height: 54px;
                overflow: hidden;
                width: 1000px;
                padding-bottom: 0px;
            }
        }
    }
    @include bg_2;
}


.slider4{
  background: #000;
  width: 100%;
  display: block;
  height: 60px;
  //max-width: 1000px;
  margin: 0px auto;
  padding: 0px;
  div {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 10px;
    .nav {
      height: 100%;
      overflow: hidden;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      padding-bottom: 0px;
      text-align: center;
      .on{
          //background: #442a69;
          a{
            color: $nav_a;
          }
        }
        .off{
          //background: #6f8c3d;
          a{
            color: $nav_off;
          }
        }
        li{
          margin: 12px 6%;
          width: auto;
          padding: 0 55px;
          float: left;
          color: $nav_off;
          display: inline-block;
          a{
            font: bolder 14px/14px $fontA;
            padding: 0px;
            color: $nav_off;
            line-height: 35px;
            font-size: 20px;
          }
          &:hover{
            background: none;
            a{
              color: $nav_a;
              cursor: pointer;
              background: none;
            }
          }
        }
      }
    }
}